<form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group-container">
        <p>
            <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input formControlName="userName" type="text" matInput placeholder="Placeholder">
              <mat-hint>Insert a User Name</mat-hint>
            </mat-form-field>
          </p>
    </div>
    <div>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Temporary Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" formControlName="password" type="password" matInput placeholder="Placeholder">
                <button 
                    mat-icon-button 
                    matSuffix 
                    (click)="hide = !hide" 
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Insert a valid password</mat-hint>
            </mat-form-field>
          </p>
    </div>
    <div>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</mat-option>
              </mat-select>
              <mat-hint align="end">Select the role from the dropdown ^</mat-hint>
            </mat-form-field>
          </p>
    </div>
    <button mat-raised-button color="primary" >Sumbit</button>
</form>