<div class="add-button-container">
    <button  routerLink="/users/create" mat-raised-button color="primary">Add Project</button>
</div>
  
<mat-table  [dataSource]="projects"  class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Project Name">
    <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Delivery">
    <mat-header-cell *matHeaderCellDef> Expected Delivery </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.expectedDelivery}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Client">
    <mat-header-cell *matHeaderCellDef> Client </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.clientName}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <button 
            *ngIf="isAdmin"
            mat-raised-button color="warn">Delete</button>
        <button
            *ngIf="isAdmin"
            mat-raised-button color="primary">Modify</button>
    </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator 
    #paginator
    (page)="OnPageChange($event)"
    [pageSizeOptions]="[5, 10, 20]" 
    [pageSize]="pageSize"
    [length]="length"
    showFirstLastButtons
    aria-label="Select page">
</mat-paginator>