<mat-toolbar>
    <button 
      (click)="navOpen()" 
      mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon></button>
    <span routerLink="/" style="cursor: pointer">Task Mnager</span>
    <span class="example-spacer"></span>
    <button 
      routerLink="/profile" 
      mat-icon-button class="example-icon user-name-btn favorite-icon">
     {{user?.userName}}</button>
    <button 
      routerLink="/login" 
      mat-icon-button class="example-icon" 
      aria-label="Example icon-button with share icon">
      <mat-icon>login</mat-icon></button>
    <button 
      routerLink="/login"  
      (click)="logout()" 
      mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon></button>
</mat-toolbar>