<mat-toolbar>
    <button 
      (click)="navOpen()"
      matTooltip="Open Menu"
      mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon></button>
    <span routerLink="/" style="cursor: pointer">Task Mngr</span>
    <span class="example-spacer"></span>
    <button
    *ngIf="isLoggedIn"
      routerLink="/profile"
      matTooltip="Visit your profile"
      mat-icon-button class="example-icon user-name-btn favorite-icon">
     {{user?.userName}}</button>
    <button
      *ngIf="!isLoggedIn"
      routerLink="/login"  
      mat-icon-button class="example-icon"
      matTooltip="Login"
      aria-label="Example icon-button with share icon">
      <mat-icon>login</mat-icon></button>
    <button
      *ngIf="isLoggedIn"
      routerLink="/login"  
      (click)="logout()" 
      mat-icon-button class="example-icon"
      matTooltip="Logout"
      aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon></button>
      <button
      *ngIf="!isLoggedIn"
      routerLink="/register"  
      mat-icon-button class="example-icon"
      matTooltip="Register"
      aria-label="Example icon-button with share icon">
      <mat-icon>emoji_people</mat-icon></button>
</mat-toolbar>